.form-table td.ime-handle-table-wrapper {
    padding: 0;
}

#ime-handle-table th {
    padding: 5px 10px 0 10px;
}

#ime-handle-table td {
    padding: 5px 0 0 10px;
}

#ime-handle-table .ime-headline {
    font-weight: bold;
}

#ime-handle-table .ime-fixed-width {
    width: 60px;
}

#ime-regeneration {
	display: none;
	margin: 30px 0;
}

#ime-regeneration.working {
	display: block;
}

.form-table td p.ime-description {
	color: #666;
	font-size: 12px;
}

#ime-regenbar {
	position: relative;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border: 1px solid #666;
	padding: 1px;
}

#ime-regenbar-percent {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50px;
	margin-left: -25px;
	height: 22px;
	margin-top: -9px;
	font-weight: bold;
	text-align: center;
}

#ime-regenbar.ui-progressbar {
	background-color: #eee;
	color: #000;
	height: 30px;
}

#ime-regenbar.ui-progressbar .ui-progressbar-value {
    height: 30px;
    background: #FF6600;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}

.ime-regen-button {
    float: left;
}

.ime-spinner {
    width: 16px;
    height: 16px;

    float: left;

    padding: 3px 8px;
}

.ime-spinner img {
    display: none;
}

.ime-media-message {
    float: left;

    padding: 0 3px;

    font-style: italic;
    line-height: 22px;
}